@model IEnumerable<demoDOAN.Models.Product>

@{
    ViewBag.Title = "Sanpham";
    Layout = "~/Views/Shared/_BeautyLayout.cshtml";
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Resposive.css" rel="stylesheet" />
}
<div class="row productList ">
    <div class="productListRight">
        <div class="formSearch">

            <!-- Đoạn thêm -->

            @using (Html.BeginForm("ProductList", "Sanpham", FormMethod.Get))
            {
                <div class="formProductList">
                    <div class="formProductList-item">
                        <input type="text" name="SearchString" placeholder="Tìm kiếm theo tên sản phẩm" style="flex:1" />
                        <input type="submit" value="Tìm kiếm" class="btn btn-warning" />
                    </div>
                    <div class="space"></div>
                    <div class="formProductList-itemm">
                        <p class="textFormProductList">Bộ lọc: &ensp;</p>
                        <input type="number" name="min" placeholder="Đơn giá từ:" style="max-width: 150px" />
                        <input type="number" name="max" placeholder="Đến:" style="max-width: 150px" />
                        <input type="submit" value="Tìm giá" class="btn btn-info" />
                    </div>

                </div>
                /*
                <table>
                    <tr>
                        <td>
                            Tên Sản phẩm : <input type="text" name="SearchString" />
                            <input type="submit" value="Tìm kiếm" class="btn btn-warning" />
                        </td>
                        <td>
                            Đơn giá từ : <input type="number" name="min" />
                            Đến : <input type="number" name="max" />
                            <input type="submit" value="Tìm giá" class="btn btn-info" />
                        </td>
                    </tr>
                </table>
                */

            }

            <!--Kết thúc -->

        </div>
    </div>
    <div class="listProduct">

        <div class=" row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-lg-3 itemProduct">
                    <div class="itemProduct-top">
                        <img src="~/image/Sanpham/@item.ImagePro" class="itemProduct-top_img" />
                    </div>
                    <div class="itemProduct-bot">
                        <p class="itemProduct-bot_name">@item.NamePro</p>
                        <p class="itemProduct-bot_dec"> @item.DecriptionPro</p>
                        <div class="itemProduct-bot_buy">
                            <p class="itemProduct-bot_price"> @item.Price <sub><ins>đ</ins></sub></p>
                            @Html.ActionLink("Thêm", "AddToCart", "Cart", new { id = item.ProductID }, new { @class = "btn btn-primary" })


                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

</div>


                         