
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_BeautyLayout.cshtml";
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Resposive.css" rel="stylesheet" />
}
<div class="login">
   
    <h2 style="color: red;">@ViewBag.ThongBao</h2>
    @using (Html.BeginForm("Login", "Nguoidung"))
    {
        @Html.ValidationSummary(true)
        <div class="login-form">
            <h2 class="form-login-text1">ĐĂNG NHẬP</h2>
            <div class="login-form-name" style="text-align:center">
                <label for="name" class="form-label" style=""></label>
                <input placeholder="Tên Đăng Nhập" type="text" class="form-control" id="name" name="NameCus" required>
            </div>
            <div class="login-form-pass" style="text-align:center">
                <label for="pwd" class="form-label"></label>
                <input placeholder="Nhập Mật Khẩu" type="password" class="form-control" id="pwd" name="PassCus" required>
            </div>
            <div class="login-form-log">
                <p class="form-login-text">
                    Bạn chưa có Tài Khoản? &ensp;
                    <a href="@Url.Action("Register","Nguoidung")" class="text-hightlight btn-mobile">Đăng ký</a>
                </p>
                <div class="form-inner">
                    <button type="submit" class="btn btn-primary btn-mobile">Đăng Nhập</button>
                </div>

            </div>
        </div>
            }
</div>

