@using demoDOAN.Models
@if (Session["TaiKhoan"]!=null)
{     
        var khachhang = Session["TaiKhoan"] as AdminUser;
    <div>
    <p class="btn btn-primary">@khachhang.NameUser</p>
        <a href="/Login/Logout" class="btn btn-danger">Log out</a>
        </div>
}else
            {
                <div>
                    <a href="/Login/Logout" class="btn btn-primary">Log in</a>
                    <a href="/Login/Register"class="btn btn-danger">Register</a>
                </div>
            }    
