
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_BeautyLayout.cshtml";
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Resposive.css" rel="stylesheet" />
}
    @using (Html.BeginForm("Register", "Nguoidung"))
    {
<div class="register container">
    <h2 style="text-align: center;font-weight:bolder">Đăng Ký Tài Khoản</h2>
        @Html.ValidationSummary(true)
        <div class="pd-20" style=" text-align: center">
            <label for="name" class="form-label"></label>
            <input placeholder="Họ Tên (*)" type="text" class="form-control" id="name"
                   name="NameCus" style="" required>
        </div>
        <div class="pd-20" style=" text-align: center">
            <label for="email" class="form-label"></label>
            <input placeholder="Email (*)" type="email" class="form-control" id="email"
                   name="EmailCus" style="" required>
        </div>
        <div class="pd-20" style=" text-align: center">
            <label for="pwd" class="form-label"></label>
            <input placeholder="Nhập Mật Khẩu (*)" type="password" class="form-control" id="pwd" name="PassCus" style="" required>
            <br />
            <input placeholder="Nhập lại Mật Khẩu (*)" type="password" class="form-control" id="pwd" name="Passcus" style="" required />
        </div>
        <div class="pd-20" style=" text-align: center">
            <label for="phone" class="form-label"></label>
            <input placeholder="Số Điện Thoại (*)" type="text" class="form-control" id="phone"
                   name="PhoneCus" style="" required>
        </div>
        <div class="form-inner">
            <div class="form-inner_left">
                Bạn đã có tài khoản?&ensp;
                <a href="@Url.Action("Login","Nguoidung")" style="color: #6f6f6f">Đăng nhập</a>
            </div>
                <button type="submit" class="btn btn-primary">Đăng Ký</button>
            </div>
        </div>
    }
