<a href="@Url.Action("GetCartInfo", "Cart")" style="text-decoration:none; color: #6f6f6f; font-weight: bold">
    <i class="fa-solid fa-cart-shopping"></i>
    <sup class="totalnumber"> @ViewBag.TotalNumber</sup>
</a>
<style>
    .totalnumber {
        padding: 1px 8px;
        background-color: #6f6f6f;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        margin-left: -3px;
        font-size: 12px;
    }
</style>
