
@{
    ViewBag.Title = "Thuonghieu";
    Layout = "~/Views/Shared/_BeautyLayout.cshtml";
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}

<div class="thuonghieu">
    <p class="text-thuognhieu">Giới thiệu về melixir thân mến</p>
    <div class="container row" style="margin: auto;">
        <div class="col-lg-4 item-thuonghieu">
            <div class="item-top">
                <img src="~/image/Thuonghieu/thuonghieu1.jpg" class="item-top_img" />
            </div>
            <div class="item-bot">
                <p class="item-box_text">Không có thành phần khắc nghiệt</p>
                <p class="item-box_text-sub">
                    melixir tạo ra các sản phẩm chỉ sử dụng các nguyên liệu thô, tất cả đều đã vượt qua các kiểm định nghiên cứu chuyên về chăm sóc da 
                    của thương hiệu bác sĩ da liễu. Chúng tôi đảm bảo sản phẩm của mình không chứa các thành phần có thể
                    gây kích ứng cho làn da nhạy cảm.
                </p>
            </div>

        </div>
        <div class="item-thuonghieu col-lg-4">
            <div class="item-top">
                <img src="~/image/Thuonghieu/thuonghieu2.jpg" class="item-top_img"/>
            </div>
            <div class="item-bot">
                <p class="item-box_text">Không thử nghiệm trên động vật</p>
                <p class="item-box_text-sub">
                    Kể từ khi thành lập vào năm 2010, chúng tôi chưa thử nghiệm trên động vật.
                    Chúng tôi không tin vào việc làm hại động vật vì mục đích thẩm mỹ và
                    chúng tôi đang nỗ lực chấm dứt việc thử nghiệm trên động vật.
                </p>
            </div>

        </div>
        <div class="item-thuonghieu col-lg-4">
            <div class="item-top">
                <img src="~/image/Thuonghieu/thuonghieu3.jpg" class="item-top_img"/>
            </div>
            <div class="item-bot">
                <p class="item-box_text">Chất lượng cao, giá cả hợp lý</p>
                <p class="item-box_text-sub">
                    Thay vì tiến hành PR và tiếp thị tốn kém,
                    tên tuổi melixir đã được lan truyền thông qua những đánh giá hài lòng của khách hàng
                    và truyền miệng. Chúng tôi đã và đang luôn nỗ lực hết mình để cung cấp
                    những sản phẩm chất lượng cao nhất cho khách hàng với mức giá hợp lý.

                </p>
            </div>

        </div>

    </div>
</div>
<div class="thuonghieu-bot">
    <p class="thuonghieu-bot_text">Như đã thấy trên &copy;melixirsskincare</p>
    <div class="container row" style="margin: auto">
        <div class="col-lg-3">
            <img src="~/image/Thuonghieu/thuonghieu4.jpg" class="item-top_img" style="height: 300px" />
        </div>
        <div class="col-lg-3">
            <img src="~/image/Thuonghieu/thuonghieu5.jpg" class="item-top_img" style="height: 300px" />
        </div>
        <div class="col-lg-3">
            <img src="~/image/Thuonghieu/thuonghieu6.jpg" class="item-top_img" style="height: 300px"/>
        </div>
        <div class="col-lg-3">
            <img src="~/image/Thuonghieu/thuonghieu7.jpg" class="item-top_img" style="height: 300px" />
        </div>
    </div>
</div>
