body {
}
.resources-grid .thumbnail img {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
}
.slick-slide img{
    display:block;
}
.img{
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
}