@model demoDOAN.FilterConfig

@{
    ViewBag.Title = "Thanhtoan";
    Layout = "~/Views/Shared/_BeautyLayout.cshtml";
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Resposive.css" rel="stylesheet" />
}
<div class="container formThanhtoan">
    <h3 class="text-center">Xác nhận thông tin đơn hàng</h3>
    <div class="row">
        <div class="col-md-12">
            <label for="kh_ten">Họ tên</label>
            <input type="text" class="form-control" name="kh_ten" id="kh_ten">
        </div>
        <div class="col-md-12">
            <label for="kh_gioitinh">Giới tính</label>
            <input type="text" class="form-control" name="kh_gioitinh" id="kh_gioitinh">
        </div>
        <div class="col-md-12">
            <label for="kh_diachi">Địa chỉ</label>
            <input type="text" class="form-control" name="kh_diachi" id="kh_diachi">
        </div>
        <div class="col-md-12">
            <label for="kh_dienthoai">Điện thoại</label>
            <input type="text" class="form-control" name="kh_dienthoai" id="kh_dienthoai">
        </div>
        <div class="col-md-12">
            <label for="kh_email">Email</label>
            <input type="text" class="form-control" name="kh_email" id="kh_email">
        </div>
        <div class="col-md-12">
            <label for="kh_ngaysinh">Ngày sinh</label>
            <input type="text" class="form-control" name="kh_ngaysinh" id="kh_ngaysinh">
        </div>
        <div class="col-md-12">
            <label for="kh_cmnd">CMND</label>
            <input type="text" class="form-control" name="kh_cmnd" id="kh_cmnd" value="">
        </div>
    </div>

    <h4 class="mb-3">Hình thức thanh toán</h4>

    <div class="d-block my-3">
        <div class="custom-control custom-radio">
            <input id="httt-1" name="httt_ma" type="radio" class="custom-control-input" required=""
                   value="1">
            <label class="custom-control-label" for="httt-1">Tiền mặt</label>
        </div>
        <div class="custom-control custom-radio">
            <input id="httt-2" name="httt_ma" type="radio" class="custom-control-input" required=""
                   value="2">
            <label class="custom-control-label" for="httt-2">Chuyển khoản</label>
        </div>
        <div class="custom-control custom-radio">
            <input id="httt-3" name="httt_ma" type="radio" class="custom-control-input" required=""
                   value="3">
            <label class="custom-control-label" for="httt-3">Ship COD</label>
        </div>
    </div>
    <hr class="mb-4">
    @Html.ActionLink("Đặt hàng", "Dathang", "Dathang", new { area = "" }, new { @class = "text-none" })

</div>

