
@{
    ViewBag.Title = "Trangchu";
    Layout = "~/Views/Shared/_BeautyLayout.cshtml";
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

}

<div class="container trangchu">
    <div class="vdHome">
        <video playsinline autoplay muted loop object-cover style="width: 100%; height: 50%; position:center; object-fit:contain;">
            <source src="~/video/vdHome.mp4" type="video/mp4">
        </video>
    </div>
    <div class="favouries">
        <p class="text-thuognhieu">Yêu thích của chúng tôi</p>
        <div class="container row" style="margin: auto;">
            <div class="col-lg-4 item-trangchu">
                <div class="item-top">
                    <img src="~/image/trangchu/trangchu2.jpg" class="item-top_img" />
                </div>
                <div class="item-bot">
                    <p class="item-box_text">Sữa rửa mặt dạng gel thảo mộc thuần chay</p>
                    <p class="item-bot_text-sub">Loại bỏ dầu thừa mà không làm khô da.</p>
                    <p class="item-bot_text-sub">Giải pháp tối đa cho làn da mụn.</p>
                </div>
            </div>
            <div class="col-lg-4 item-trangchu">
                <div class="item-top">
                    <img src="~/image/trangchu/trangchu1.jpg" class="item-top_img"/>
                </div>
                <div class="item-bot">
                    <p class="item-box_text">Kem dưỡng ẩm sâu thuần chay</p>
                    <p class="item-bot_text-sub">Nuôi dưỡng tối ưu cho làm da khô khó của bạn, được cung cấp bởi Vitamin C làm sáng da.</p>
                </div>
            </div>
            <div class="col-lg-4 item-trangchu">
                <div class="item-top">
                    <img src="~/image/trangchu/trangchu3.jpg" class="item-top_img" />
                </div>
                <div class="item-bot">
                    <p class="item-box_text">Nước cân bằng thần chay</p>
                    <p class="item-bot_text-sub">Sự pha trộn tinh tế của chiết xuất thực vật làm dịu.</p>
                    <p class="item-bot_text-sub">Toner hoàn hảo cho làn da nhạy cảm.</p>
                </div>
            </div>
        </div>
        

    </div>
    <h2 class="text-thuognhieu"> Sản phẩm An Lành - Con người Chân Thật</h2>
     <div class="orginContent">
        <div class="orginContent-item" style="background-color:#66883f">
            <p class="imgOrgin" style="height: 250px; width: 200px">
                <img src="~/image/orgin1.png" alt="Lá Bạc Hà" />
            </p>
            <h3 class="title"> lá bạc hà</h3>
            <p class="description">
                Lá bạc hà được sử dụng trong các sản phẩm mỹ phẩm như: cao dược liệu để gội đầu, lá tắm cho trẻ em, súc miệng,..
            </p>
        </div>
        <div class="orginContent-item" style="background-color:#c57200">
            <h3 class="title">Tinh dầu cam</h3>
            <p class="description">
                Tinh dầu cam ngọt được sử dụng trong mỹ phẩm như một thành phần làm thơm, giải tỏa căng thẳng: sáp thơm, tinh dầu thơm....
            </p>
            <div class="imgOrgin1">
                <img src="~/image/orgin2.png" alt="Tinh dầu cam ngọt" />
            </div>
        </div>
        <div class="orginContent-item" style="background-color: #66883f">
            <div class="imgOrgin" style="height: 250px; width: 270px;">
                <img src="~/image/orgin3.png" alt="Dầu quả bơ" />
            </div>
            <h3 class="title">Dầu quả bơ</h3>
            <p class="description">
                Được chiết từ thịt quả bơ chín ngay sau khi thu hoạch bằng phương pháp ép lạnh, phương pháp này giữ được nguyên dinh dưỡng tốt trong dầu.
            </p>
        </div>
        <div class="orginContent-item" style="background-color:#b69a71">
            <h3 class="title">Dầu dừa</h3>
            <p class="description">
                Dầu dừa được chiết xuất từ phần cùi trắng của quả dừa, có thể được tìm thấy trong nhiều loại mỹ phẩm và chăm sóc cá nhân.
            </p>
            <div class="imgOrgin1">
                <img src="~/image/orgin4.png" alt="Dầu dừa" />
            </div>

        </div>

    </div>

</div>


