
@{
    ViewBag.Title = "Trangchu";
    Layout = "~/Views/Shared/_BeautyLayout.cshtml";
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

}
<style>
    .item-bot_text-subb {
        margin-bottom: 1px;
    }
</style>
<div class="container trangchu">
    <div class="vdHome">
        <video playsinline autoplay muted loop object-cover style="width: 100%; height: auto; position:center; object-fit:contain;background-size:cover">
            <source src="~/video/vdHome.mp4" type="video/mp4">
        </video>
    </div>
    <div class="favouries">
        <p class="text-thuognhieus">Yêu thích của chúng tôi</p>
        <div class=" row" style="margin: auto;">
            <div class="col-md-4 item-trangchu">
                <div class="item-top" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 10px;">
                    <img src="~/image/trangchu/trangchu2.jpg" class="item-top_img" />
                </div>
                <div class="item-bot">
                    <p class="item-box_textt">Sữa rửa mặt dạng gel thảo mộc thuần chay</p>
                    <p class="item-bot_text-subb">Loại bỏ dầu thừa mà không làm khô da.</p>
                    <p class="item-bot_text-subb">Giải pháp tối đa cho làn da mụn.</p>
                </div>
            </div>
            <div class="col-md-4 item-trangchu">
                <div class="item-top" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 10px;">
                    <img src="~/image/trangchu/trangchu1.jpg" class="item-top_img" />
                </div>
                <div class="item-bot">
                    <p class="item-box_textt">Kem dưỡng ẩm sâu thuần chay</p>
                    <p class="item-bot_text-subb">Nuôi dưỡng tối ưu cho làm da khô khó của bạn, được cung cấp bởi Vitamin C làm sáng da.</p>
                </div>
            </div>
            <div class="col-md-4 item-trangchu">
                <div class="item-top" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 10px;">
                    <img src="~/image/trangchu/trangchu3.jpg" class="item-top_img" />
                </div>
                <div class="item-bot">
                    <p class="item-box_textt">Nước cân bằng thần chay</p>
                    <p class="item-bot_text-subb">Sự pha trộn tinh tế của chiết xuất thực vật làm dịu.</p>
                    <p class="item-bot_text-subb">Toner hoàn hảo cho làn da nhạy cảm.</p>
                </div>
            </div>
        </div>
        
    </div>
    <h2 class="text-thuognhieu container" style="margin-bottom:45px"> Sản phẩm An Lành - Con người Chân Thật</h2>
  
    <div class="orginContent row">
        <div class="orginContent-item col-md-6 col-lg-3 col-sm-6" style="background-color: #66883f; box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
            <div class="orginContent-item_top2" style=" transform: translateY(30px);">
                <img src="~/image/orgin1.png" class="orginContent-item_top-img" style="margin-bottom: -30px" />
            </div>
            <div class="orginContent-item_bot2"style="justify-content:end">
                <p class="orginContent-item_bot-main">Lá bạc hà</p>
                <p class="orginContent-item_bot-dec">Lá bạc hà được sử dụng trong các sản phẩm mỹ phẩm như: cao dược liệu để gội đầu, lá tắm cho trẻ em, súc miệng,..</p>
            </div>

        </div>
        <div class="orginContent-item col-md-6 col-lg-3 col-sm-6" style="background-color: #c57200;box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
            <div class="orginContent-item_bot1">
                <p class="orginContent-item_bot-main">Tinh dầu cam</p>
                <p class="orginContent-item_bot-dec">
                    Tinh dầu cam ngọt được sử dụng trong mỹ phẩm như một thành phần làm thơm, giải tỏa căng thẳng: sáp thơm, tinh dầu thơm....
                </p>
            </div>
            <div class="orginContent-item_top1">
                <img src="~/image/orgin2.png" class="orginContent-item_top-img" style="width: 65%" />
            </div>
        </div>
        <div class="orginContent-item col-md-6 col-lg-3 col-sm-6" style="background-color: #66883f; box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
            <div class="orginContent-item_top2" style="margin-bottom: 6px; transform: translateY(30px);">
                <img src="~/image/orgin3.png" class="orginContent-item_top-img2" style="width: 78%"/>
            </div>
            <div class="orginContent-item_bot2"style="justify-content:end">
                <p class="orginContent-item_bot-main">Dầu quả bơ</p>
                <p class="orginContent-item_bot-dec">
                    Được chiết từ thịt quả bơ chín ngay sau khi thu hoạch bằng phương pháp ép lạnh, phương pháp này giữ được nguyên dinh dưỡng tốt trong dầu.
                </p>
            </div>
        </div>
        <div class="orginContent-item col-md-6 col-lg-3 col-sm-6" style="background-color: #b69a71; box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
            <div class="orginContent-item_bot1">
                <p class="orginContent-item_bot-main">Dầu dừa</p>
                <p class="orginContent-item_bot-dec">
                    Dầu dừa được chiết xuất từ phần cùi trắng của quả dừa, có thể được tìm thấy trong nhiều loại mỹ phẩm và chăm sóc cá nhân.
                </p>
            </div>
            <div class="orginContent-item_top1">
                <img src="~/image/orgin4.png" class="orginContent-item_top-img-coconut" style="margin-top: 20px"/>
            </div>
        </div>
    </div>
</div>

</div>


